.status-img {
  width: 300px;
}
.img-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.para{
    font-family: "roboto";
    font-size: 18px;
    color: #3a4b63;
}
.reg-btn{
    background-color: #0967d2;
    border: none;
    border-radius: 5px;
    padding: 5px;
    color:white;
}